*, ::after, ::before
{
	/* removed default styling */
	padding: 0;
	margin: 0;
	text-decoration: none;
	border: 0;
	background: none;
	font-family: product-sans;
	box-sizing: border-box;
}

.stop-scrolling
{
	height: 100%;
  	overflow: hidden;
}

ul
{
	list-style: none;
}

*:focus
{
	/* removed default styling */
	outline: none;
}

html, body
{
	min-height: 100%;
	background-color: var(--siteDarkBlue);
}

h1
{
	display: block;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	font-family: product-sans-bold;
	color: white;
}

b
{
	font-family: product-sans-bold;
}

strike
{
	color: lightgray;
	text-decoration: line-through;
}

/* v Main Header v */

#HeaderSection
{
	min-height: 100%;
	min-width: 100%;
	background-image: url('../images/Example1_Finished.png');
	background-size: cover;
	background-position: center center;
	margin-bottom: -100px;
}

#HeaderSection .color-tint
{
	background: rgba(0,0,17,.85);
	width: 100%;
	height: 100vh;
}

#HeaderSection .left
{
	opacity: .8;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
#HeaderSection .right
{
	opacity: .8;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

#HeaderSection .logo
{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 80%;
	max-width: 650px;
}

#HeaderSection .buttons
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#HeaderSection .buttons button
{
	position: relative;
	display: block;
	margin: 15px 0;
	width: 300px;
	height: 80px;
	font-size: 1.8em;
}

.SolidButton
{
	transition: .2s;
	border: 8px solid white;
	padding: 10px;
	font-family: product-sans-bold;
	background: white;
	color: var(--siteDarkBlue);
}


.OutlineButton
{
	transition: .2s;
	border: 8px solid white;
	padding: 10px;
	font-size: 1.5em;
	font-weight: lighter;
	color:  white;
}

.SolidButton:hover, .OutlineButton:hover
{
	transition: .3s;
	cursor: pointer;
	background-color: var(--siteDarkBlue);
	border-color: var(--siteDarkBlue);
	color: white;
}

/* ^ Main Header ^ */


/* v navbar v */

.mobile
{
	display: none;
}

#navbar
{
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	padding: 0 15px;
	box-shadow: 0 3px 6px rgba(0,0,17,0.11), 0 3px 6px rgba(0,0,17,0.18);
	background-color: white;
	z-index: 1000;
	position: relative;
	bottom: 0;
	opacity: 0;
}

.sticky-navbar
{
	position: fixed !important;
	top: 0 !important;
}

.sticky-navbar-correction
{
	margin-bottom: 0px !important;
}

#navbar img
{
	height: 100%;
	
}

#navitems
{
	list-style-type: none;
	float: right;
}

#navitems li
{
	float: left;
}

#navitems li a
{
	transition: .2s;
	display: block;
	text-align: center;
	padding: 40.5px 15px;
	text-decoration: none;
	color: var(--siteDarkBlue);
	background-color: transparent;
	font-family: product-sans-bold;
}

#navitems li a:hover
{
	transition: .3s;
	background-color: var(--siteDarkBlue);
	color:  white;
}

/* ^ navbar ^ */


/* v examples/slideshow v */

#examples
{
	background-color: rgb(26,26,41);
	color:  white;
	padding-bottom: 50px;
}



#examples .slideshow
{
	width: 80%;
	height: 600px;
	background-color: var(--siteDarkBlue);
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	box-shadow: 0 2px 8px black;
}

#examples .slideshow #slideshow_leftbtn
{
	position: absolute;
	top: 50%;
	left: 14px;
}

#examples .slideshow #slideshow_rightbtn
{
	position: absolute;
	top: 50%;
	right: 14px;
}

#examples .slideshow #slideshow_rightbtn img 
{
	position: absolute;
	height: 76px;
	width: 76px;
	left: -38px;
	top: -38px;
	z-index: 101;
}


#examples .slideshow #slideshow_leftbtn img 
{
	position: absolute;
	height: 76px;
	width: 76px;
	left: -38px;
	top: -38px;
	transform: rotateY(180deg);
	z-index: 101;
}

#examples #leftcard, #rightcard
{
	background-position: 0 0, -300px 0;
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
}

#examples #centercard
{
	background-position: 0 0, -400px 0;
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
}

.slideshowanimation_leftright
{
	animation-name: slideshow_transition_leftright;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.slideshowanimation_center
{
	animation-name: slideshow_transition_center;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes slideshow_transition_leftright
{
	from {
		background-position: 0 0, -300px 0;
	}
	to {
		background-position: 300px 0, 0 0;
	}
}

@keyframes slideshow_transition_center
{
	from {
		background-position: 0 0, -400px 0;
	}
	to {
		background-position: 400px 0, 0 0;
	}
}       

#examples .leftcard-ancor
{
	position: relative;
	top: 50%;
	left: 20%;
}

#examples .leftcard-ancor div
{
	position: absolute;
	height: 300px;
	width: 300px;
	left: -150px;
	top: -150px;
	background-image: url('../images/slideshow/image0.jpeg');
	background-size: cover;
	z-index: 100;
	border-radius: 15px;
	box-shadow: 0px 4px 10px black;
	opacity: .5;
	filter: blur(1px);
	z-index: 50;
}

#examples .centercard-ancor
{
	position: relative;
	top: 50%;
	left: 50%;
}

#examples .centercard-ancor div
{
	position: absolute;
	height: 400px;
	width: 400px;
	left: -200px;
	top: -200px;
	background-image: url('../images/slideshow/image1.jpeg');
	background-size: cover;
	z-index: 100;
	border-radius: 15px;
	box-shadow: 0px 4px 10px black;
	z-index: 100;
}

#examples .rightcard-ancor
{
	position: relative;
	top: 50%;
	right: 20%;
}

#examples .rightcard-ancor div
{
	position: absolute;
	height: 300px;
	width: 300px;
	right: -150px;
	top: -150px;
	background-image: url('../images/slideshow/image2.jpeg');
	background-size: cover;
	z-index: 100;
	border-radius: 15px;
	box-shadow: 0px 4px 10px black;
	opacity: .5;
	filter: blur(1px);
	z-index: 50;
}

.slideshow img
{
	height: 90%;
}

/* ^ examples/slideshow ^ */


/* v footer v */

footer
{
	display: block;
}

.container
{
	width: 100%;
	max-width: 1550px;
	padding: 0 15px;
	margin: 0 auto;
	line-height: 1.5;
}

.row
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.col-md-3
{
	flex: 0 0 25%;
	max-width: 25%;
	padding: 0 40px;
}

.col-md-6
{
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 40px;
}

.footer-dark
{
	padding:50px 0;
	color: white;
	background-color: var(--siteDarkBlue);
}

.footer-dark h3
{
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
	color: white;
}

.footer-dark ul
{
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
}

.footer-dark ul a, .footer-dark ul li
{
	color: white;
	text-decoration:none;
	opacity:0.6;
}

.footer-dark ul li aside
{
	float: right;
	color: white;
}

.footer-dark ul a:hover
{
	opacity:0.8;
}

@media (max-width:767px)
{
	.footer-dark .item:not(.social)
	{
		text-align:center;
		padding-bottom:20px;
	}
}

.footer-dark .item.text
{
	margin-bottom:36px;
}

@media (max-width:767px)
{
	.footer-dark .item.text
	{
		margin-bottom:0;
	}
}

.footer-dark .item.text p
{
	opacity:0.6;
	margin-bottom:0;
	color: white;
}

.footer-dark .item.text a
{
	color: white;
}

@media (max-width:991px)
{
	.footer-dark .item.social
	{
		text-align:center;
		margin-top:20px;
	}
}

.footer-dark .item.social > a
{
	font-size:20px;
	width:36px;
	height:36px;
	line-height:36px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	box-shadow:0 0 0 1px rgba(255,255,255,0.4);
	margin:0 8px;
	color: white;
	opacity:0.75;
}

.footer-dark .copyright
{
	text-align:center;
	padding-top:24px;
	opacity:0.3;
	font-size:13px;
	margin-bottom:0;
	color: white;
}

.footer-dark .profile-pic
{
	height: 162px;
	border-radius: 50%;
	border: 3px solid white;
	float: left;
	margin-right: 30px;
}

.footer-dark a
{
	color: white;
	opacity: 0.6;
}

.footer-dark a:hover
{
	text-decoration: underline;
	opacity: .75;
}

.footer-dark .socials
{
	padding-left: 10px;
}

.footer-dark .socials img
{
	width: 25px;
	height: 25px;
}

.footer-dark .socials a
{
	display: inline-block;
	border-radius: 50%;
	border: white solid 1px;
	padding: 13px;
	margin: 0 2px;
	line-height: 0;
}

.footer-dark .socials a:hover
{
	background-color: rgba(255,255,255,.25);
}

.icon
{
	display: inline-block;
	line-height: 1;
}

.icon::before
{
	background-image: url('../images/icons/facebook.png');
}

/* ^ footer ^ */


/* v services v */

#service-eyes
{
	background-color: var(--siteDarkBlue);
	padding-bottom: 60px;
}

#service-body
{
	background-color: rgb(26,26,41);
	padding-bottom: 60px;
}

#service-eyes .grid-display
{
	background-color: rgb(26,26,41);
}

#service-body .grid-display
{
	background-color: var(--siteDarkBlue);

}

#service-eyes .grid-display, #service-body .grid-display
{
	width: 80%;
	padding: 25px;
	color:  white;
	
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	box-shadow: 0 2px 8px black;
	text-align: center;
}

.service-card
{
	display: inline-block;
	margin: 20px;
	transition: .1s;
}

.service-ad
{
	width:  400px;
	height:  400px;
	background-size: cover;
	background-position: center;
	position: relative;
	text-align: left;
	border-radius: 20px 20px 0 0;
}

.service-book
{
	text-align: center;
	padding: 20px;
	color: white;
	background-color: rgb(46,139,87);
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0 8px rgb(39,119,74);
}

.service-card:hover
{
	transform: scale(1.02);
	transition: .1s;
}

.service-card:hover .service-book
{
	transition: .2s;
	letter-spacing: .25px;
}

.service-book:hover
{
	cursor: pointer;
	text-decoration: underline;
	filter: brightness(.9);
	transition: .2s;
	color: lightgray;
}

.service-info
{
	background-image: linear-gradient(transparent, rgba(0,0,0,.6), rgba(0,0,0,.9));
	position: absolute;
	bottom: 0;
	padding: 20px;
	width: 100%;
}

.service-photo
{
	width: 150px;
	height: 150px;
	background-image: url('../images/slideshow/image0.jpeg');
	background-size: cover;
	background-position: center;
	margin: 10 10px 10px 10px;
	float: left;
}

.service-name
{
	font-family: product-sans-bold;
	font-size:  1.8em;
	color:  white;
	display: block;
	border-radius: 20px;
	opacity: .9;
	height: 100%;
	margin: 10px 0;
}

.service-name aside
{
	float: right;
	text-align: right;
	background-color: rgba(46,139,87,.7);
	color: white;
	font-family: product-sans-bold;
	font-size: .8em;
	padding: 5px 10px;
	border-radius: 5px;
}

.service-desc
{
	font-family: product-sans;

	color:  white;
	opacity: .7;
	display: inline-block;
}

/* ^ services ^ */